In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("make_model_data_16_cleaned.csv")
      
df = df.rename(columns = {
    'VehicleMake' : "VehicleMaker",
    'VehicleModel' : "VehicleMakerModel",
    'YearOfBirth' : "YearOfRelease",
    'Total' : 'TotalReleases',
    'PASS' : 'Pass',
    'PASS %' : 'PassPercent',
    'FAIL' : 'Fail',
    'FAIL %' : 'FailPercent',
    'Vehicle and Safety Equipment' : 'VehicleAndSafetyEquipment',
    'Vehicle and Safety Equipment %' : 'VehicleAndSafetyEquipmentPercent',
    'Lighting and Electrical' : 'LightingAndElectrical',
    'Lighting and Electrical %' : 'LightingAndElectricalPercent', 
    'Steering and Suspension' : 'SteeringAndSuspension',
    'Steering and Suspension %' : 'SteeringAndSuspensionPercent', 
    'Braking Equipment' : 'BrakingEquipment', 
    'Braking Equipment %' : 'BrakingEquipmentPercent',
    'Wheels and Tyres' : 'WheelsAndTyres', 
    'Wheels and Tyres %' : 'WheelsAndTyresPercent', 
    'Engine, Noise and Exhaust' : 'EngineNoiseAndExhaust',
    'Engine, Noise and Exhaust %' : 'EngineNoiseAndExhaustPercent', 
    'Chassis and Body' : 'ChassisAndBody', 
    'Chassis and Body %' : 'ChassisAndBodyPercent',
    'Side Slip Test' : 'SideSlipTest', 
    'Side Slip Test %' : 'SideSlipTestPercent', 
    'Suspension Test' : 'SuspensionTest',
    'Suspension Test %' : 'SuspensionTestPercent',
    'Light test' : 'LightTest',
    'Light test %' : 'LightTestPercent',
    'Brake Test' : 'BrakeTest',
    'Brake Test %' : 'BrakeTest%',
    'Emmissions' : 'Emissions',
    'Emmissions %' : 'EmissionsPercent',
    'OTHER' : 'Other',
    'OTHER %' : 'OtherPercent',
    'Incompletable' : 'IncompletablePercent'
})


df.columns

df.to_csv('make_model_data_16_cleaned_renamed.csv')

In [8]:
dfaudi = df[df['VehicleMake'] == 'AUDI']

dfskoda = df[df['VehicleMake'] == 'SKODA']
dfskoda

,VehicleMake,VehicleModel,YearOfBirth,Total,PASS,PASS %,FAIL,FAIL %,Vehicle and Safety Equipment,Vehicle and Safety Equipment %,...,Light test,Light test %,Brake Test,Brake Test %,Emmissions,Emmissions %,OTHER,OTHER %,Incompletable,Incompletable %
6268,SKODA,CITIGO,2012,102,94,92.2,8,7.8,1,1.0,...,1,1.0,0,0.0,0,0.0,0,0.0,0,0.0
6269,SKODA,CITIGO,2013,54,48,88.9,6,11.1,2,3.7,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
6270,SKODA,FABIA,2000,250,78,31.2,172,68.8,43,17.2,...,16,6.4,51,20.4,11,4.4,2,0.8,0,0.0
6271,SKODA,FABIA,2001,736,238,32.3,498,67.7,102,13.9,...,72,9.8,183,24.9,19,2.6,3,0.4,0,0.0
6272,SKODA,FABIA,2002,829,291,35.1,538,64.9,121,14.6,...,79,9.5,177,21.4,30,3.6,3,0.4,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6353,SKODA,SUPERB,2016,24,23,95.8,1,4.2,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
6354,SKODA,YETI,2010,413,352,85.2,61,14.8,10,2.4,...,11,2.7,1,0.2,0,0.0,2,0.5,0,0.0
6355,SKODA,YETI,2011,105,84,80.0,21,20.0,2,1.9,...,3,2.9,2,1.9,0,0.0,0,0.0,0,0.0
6356,SKODA,YETI,2012,442,402,91.0,40,9.0,11,2.5,...,7,1.6,0,0.0,0,0.0,0,0.0,0,0.0
6357,SKODA,YETI,2013,116,105,90.5,11,9.5,1,0.9,...,1,0.9,0,0.0,0,0.0,0,0.0,0,0.0